$box-shadow: 0 2px 1px -1px #0003, 0 1px 1px 0 #00000024, 0 1px 3px 0 #0000001f;
$white: #fff;
$dark-grey: #0b0d0e;
$medium-grey: #4e4d4d;
$grey: #eaeaea;
$green: #248810;
$black: #000;
$red: #e63a3a;

$regular: 'RobotoRegular';
$medium: 'RobotoMedium';
$bold: 'RobotoBold';
$light: 'RobotoLight';
