@import '../../sass/base';

.side-panel {
  background: $white;
  box-shadow: $box-shadow;
  margin: 10px 0 0;
  padding: 10px;
  
  &__filter-label{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $Medium;
  }

  &__filter-label-icon{
    display: none;
    border-radius: 50%;
    background: transparent;
    min-width: 26px;
    &:focus{
      outline: none;
    }
  }
}

@media (max-width: 768px) {
  .side-panel{
    &__filter-label-icon{
      display: block;
    }

    &__filter-container{
      height: 0;
      overflow: hidden;
      transition: height 2s ease-in-out;
      &.active{
        height: 240px;
      }
    }
  }
}
