@import './../../sass/base';

.app {
  background: $grey;

  &__message {
    align-items: center;
    color: $dark-grey;
    display: flex;
    font-size: 32px;
    height: 100vh;
    justify-content: center;
    margin: auto;
  }

  &__search-sort-section {
    align-items: center;
    background: $white;
    box-shadow: $box-shadow;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    padding: 15px;
  }

  &__main-section {
    padding-right: 0;
  }

  &__header {
    background: $white;
    height: 75px;
    padding: 10px 0;
  }

  &__logo {
    height: 100%;
  }

  &__heading {
    display: inline;
    font-family: $medium;
    font-size: 24px;
  }
}

@media (max-width: 992px) {
  .app {
    &__main-section {
      padding: 0;
    }
  }
}

