@import '../../sass/base';

.character-card {
  background: $medium-grey;
  border-radius: 4px;
  box-shadow: $box-shadow;
  color: $white;
  height: 100%;
  overflow: hidden;
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }

  &__image {
    position: relative;

    img {
      height: 100%;
      width: 100%;
    }
  }

  &__info {
    padding: 10px;
  }

  &__location-label {
    display: block;
    font-family: $Medium;
    line-height: 1.5;
  }

  &__basic-details {
    background: $black;
    bottom: 0;
    color: $white;
    opacity: 0.5;
    position: absolute;
    text-align: center;
    width: 100%;
  }

  &__location-details {
    margin: 10px 0 0;
  }

  &__status {
    border: 5px solid;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px 0 0;

    &--alive {
      border-color: $green;
    }

    &--dead {
      border-color: $red;
    }

    &--unknown {
      border-color: $grey;
    }
  }
}
