@import '../../sass/base';

.character-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background: $white;
  box-shadow: $box-shadow;
  padding: 20px 5px;
  
  &__card-container {
    padding: 0px 10px;
    margin: 0 0 20px;
  }
}
