@import '../../sass/base';

.filter-group {
  &__label {
    color: $dark-grey;
    margin: 10px 0;
  }

  &__filter {
    background: $grey;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: $box-shadow;
    margin: 0 10px 10px 0;

    &.active {
      border: 2px solid $green;
    }
  }
}
