@import '../../sass/base';

.sort {
  &__label {
    font-family: $medium;
    margin: 0 10px 0 0;
  }

  &__button {
    background: $grey;
    border: 1px solid $medium-grey;
    border-radius: 4px;
    font-family: $light;
    margin: 0 2px;

    &.active {
      background: $white;
      border: 1px solid $green;
    }
  }
}
